<form class="add-event-form" method="POST" action="/site/auth/home/showEvents/add">
    <input type="hidden" value="{{groupId}}" name="groupId">
    <input type="hidden" name="eventId" value="{{this.id}}">
    <input type="hidden" name="eventName" value="{{eventName}}">
    <input type="hidden" name="p" value="{{p}}">
    <h3>{{this.name}}</h3>
    <p>Data: {{this.date}}</p>
    <p>Vendas: {{this.sales}}</p>
    <p>Gênero: {{this.genre}}</p>
    <p>Sub-Gênero: {{this.subGenre}}</p>
    <p>Segmento: {{this.segment}}</p>
    <div class="event-image-container">
        <img src="{{this.image}}" alt="" class="event-image">
    </div>
    <div class="add-to-group-container">
        <input type="submit" value="Add to Group">
    </div>
</form>
