<form method={{method}} action={{action}}>

    <p>Name: <input type="text" name="name" value="{{group.name}}"></p>

    <p>Description: <input type="text" name="description" value="{{group.description}}"></p>
    
    <input type="submit" value="{{btnAction}} Group">
</form>